
.todolist_container {
    margin-right: 50px;
    background: #ffffff;
    color: #497081;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.15);
    width: 250px;
    height: min-content;
}

.todolist_container__header {
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.todolist_container__header_title {
    display: block;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.4rem;
}

.todolist_container__header_title_btn{
    position: absolute;
    top:-40px;
    left: 245px;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    color: #497081;
    outline: none;
}
.todolist_container__header_title_btn:hover{
    color: #cd5a5a;
}

.todolist_container__list ul {
    list-style: none;
    padding:   0 0 10px 0  ;
    border-bottom: 1px solid #ddd;
}

.todolist_container__list li {
    border-left: 3px solid transparent;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todolist_container__list li:hover {
    background-color: #f4fbff;
    border-left: solid 3px #497081;

}

.todolist_container__list span {
    width: 75%;
    height: 100%;
    font-size: 1rem;
    word-wrap: break-word;

}

.todolist_container__list button {
    width: 15%;
    height: 1.6rem;
    border: solid 1px #497081;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 0.7rem;
    font-weight: bold;
    color: #497081;
    outline: none;
}

.todolist_container__list button:hover {
    background-color: #497081;
    color: #ffffff;

}

.todolist_container__filters{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 1.6rem;
}
.todolist_container__filters_button{
    width: 30%;
    font-size: 1rem;
    border: solid 1px #497081;
    border-radius: 3px;
    background-color: #ffffff;
    color: #497081;
    outline: none;

}
.todolist_container__filters_active_button{
    width: 30%;
    font-size: 1rem;
    border: solid 1px #497081;
    border-radius: 3px;
    background-color: #497081;
    color: #ffffff;
    outline: none;

}


